 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                      <img class="img-responsive about-img" src="/img/headshot.jpg"></img>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Hi, my name is Nick Stoddart. I am an expert tutor with experience in every Science, Technology,
                      Engineering, and Math field. I am a passionate Chemical Engineering PhD student who enjoys
                      inspiring the next generation of thinkers to pursue their dreams.
                    <p>If you or someone you know is struggling to hit their stride in a STEM field, send me an
                    email using the contact form below. I am happy to help all ages discover the joy in problem solving.</p>
            </div>
        </div>
    </section>
