 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                      <img class="img-responsive about-img" src="/img/headshot.jpg"></img>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-lg-offset-2">
                    <p>My name is Nick. I am a Chemical Engineering PhD candidate at the University of Arkansas.
                    I </p>
                    <p>More Words</p>
            </div>
        </div>
    </section>
